body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
    --menu-font-size: 3vmin;
}

.menu-box {
    /*
    border: 2px solid #ff00ff;
    */
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    z-index: 4;
    position: fixed;
    right: 0;
    top: 12vmin;
    margin: 1px;
    background-color: white;
    border: 2px solid #231233;
}

.menu-box-2 {
    flex: 1;
}

.menu-item {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.menu-row {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /*
    border: 2px solid #ff00ff;
    */
}

.menu-label {
    font-size: var(--menu-font-size);
}

.menu-mode-lbl {
    font-size: var(--menu-font-size);
    flex: 1;
    text-align: left;
    border: 2px solid #231233;
    background-color: #009999;
    /*
  background-color: #654321;
  font-color: #123456;
  */
}

.menu-mode-btn {
    font-size: var(--menu-font-size);
    flex: 1;
    text-align: center;
    border: 2px solid #231233;
    /*
  background-color: #654321;
  font-color: #123456;
  */
}

.menu-toggle-btn {
    font-size: var(--menu-font-size);
    /*
  background-color: #654321;
  font-color: #123456;
  */
}

.menu-mode-sel {
    background-color: #009911;
    /*
  font-color: #654321;
  */
}

.menu-fixed-top {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row-reverse;
    z-index: 5;
    background-color: white;
    border: 2px solid var(--img-btn-border);
    width: auto;
}

.menu-fixed-bottom {
    position: absolute;
    top: 0;
    right: 11.5vmin;
    display: flex;
    flex-direction: row-reverse;
    z-index: 5;
    background-color: white;
    border: 2px solid var(--img-btn-border);
    width: auto;
}

.img-btn {
    background-color: var(--img-btn-back);
    border: 2px solid var(--img-btn-border);
    margin: 1px;
    height: 10vmin;
}

.img-btn-sel {
    background-color: var(--img-btn-sel-back);
}

.btn-img {
    height: 100%;
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (orientation:portrait) {
    .menu-box {
        /*
    border: 2px solid #ff00ff;
    */
        width: 80%;
    }
    .menu-item {
        flex-direction: row;
    }
    .menu-fixed-bottom {
        top: auto;
        left: auto;
        bottom: 0;
        right: 0;
    }

}