:root {
    --rnd-vp-delta-rot: 30deg;
    --rnd-vp-start-rot: -75deg;
    --rnd-scale: 1.0;
}

.setup-box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: min(96vw, 600px);
    left: 50%;
    transform: translate(-50%, 0%);
    border: 2px solid var(--img-btn-border);
    background-color: white;
}

.setup-rng-btn {
    position: relative;
    width: 200px;
    margin: 2px;
    left: 50%;
    transform: translateX(-50%);
}

.tech-box {
    display: flex;
    flex-direction: column;
}

.tech-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.tech-element {
    border: 1px solid black;
    flex-grow: 1;
    width: min(16vw, 120px);
}

.tech-img {
    width: min(12vw, 80px);
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.tech-img-fed {
    width: min(6vw, 50px);
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tech-ter {
    background-color: orange;
}
.tech-nav {
    background-color: blue;
}
.tech-qic {
    background-color: green;
}
.tech-gai {
    background-color: purple;
}
.tech-eco {
    background-color: yellow;
}
.tech-sci {
    background-color: deepskyblue;
}
.tech-low {
    background-color: #444444;
}

.rnd-box {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: calc(min(15vw, 120px)*var(--rnd-scale));
    left: 50%;
    transform: translateX(-50%);
    width: calc(min(44.4vw, 370px)*var(--rnd-scale));
}

.rnd-img {
    width: calc(min(12vw, 100px)*var(--rnd-scale));
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rnd0 {
    transform: rotate(calc(var(--rnd-vp-start-rot) + var(--rnd-vp-delta-rot) * 0));
}

.rnd1 {
    transform: rotate(calc(var(--rnd-vp-start-rot) + var(--rnd-vp-delta-rot) * 1));
    position: relative;
    bottom: calc(min(7.8vw, 65px)*var(--rnd-scale));
    right: calc(min(7.8vw, 65px)*var(--rnd-scale));
}

.rnd2 {
    transform: rotate(calc(var(--rnd-vp-start-rot) + var(--rnd-vp-delta-rot) * 2));
    position: relative;
    bottom: calc(min(12vw, 100px)*var(--rnd-scale));
    right: calc(min(12vw, 100px)*var(--rnd-scale));
}

.rnd3 {
    transform: rotate(calc(var(--rnd-vp-start-rot) + var(--rnd-vp-delta-rot) * 3));
    position: relative;
    bottom: calc(min(12vw, 100px)*var(--rnd-scale));
    right: calc(min(15.12vw, 126px)*var(--rnd-scale));
}

.rnd4 {
    transform: rotate(calc(var(--rnd-vp-start-rot) + var(--rnd-vp-delta-rot) * 4));
    position: relative;
    bottom: calc(min(7.8vw, 65px)*var(--rnd-scale));
    right: calc(min(19.44vw, 162px)*var(--rnd-scale));
}

.rnd5 {
    transform: rotate(calc(var(--rnd-vp-start-rot) + var(--rnd-vp-delta-rot) * 5));
    position: relative;
    bottom: 0px;
    right: calc(min(27.12vw, 226px)*var(--rnd-scale));
}

.booster-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.booster {

}

.booster-img {
    width: min(14vw, 45px);
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.end-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-left: 10vw;
    margin-right: 10vw;
}

.end {
}

.end-img {
    width: min(30vw, 100px);
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-aspect-ratio: 210/152) {
}