body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
    --main-height: 100vmin;
    --sec-height: 35.5vmin;
    --sec-delta-x: calc(var(--sec-height) * 0.89);
    --sec-delta-y: calc(var(--sec-height) * 0.1);
}

.App {
    display: flex;
    flex-direction: row;
    border: 2px solid #ffff00;
    height: var(--main-height);
}

.menu-box {
    border: 2px solid #231233;
    flex: 5;
    display: flex;
    flex-direction: column;
}

.map-box {
    flex: 12;
    border: 2px solid #ff0000;
}

@media screen and (orientation:portrait) {
    :root {
        --main-height: 100vmax;
        --sec-height: 27vmin;
    }

    .App {
        flex-direction: column;
    }

}