body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
    --main-height: 100vmin;
    --menu-width: 20vmax;
    --menu-height: 20vmin;
    --map-height: 98vmin;
    --map-width: calc(100vmax - var(--menu-width));
    --sec-height: calc(var(--map-height) * 0.35 * 0.8);
    --sec-delta-x: calc(var(--sec-height) * 0.89);
    --sec-delta-y: calc(var(--sec-height) * 0.1);
    --hex-height: 5vmin;
    --hex-dx: calc(var(--hex-height) * 1.0);
    --hex-dy: calc(var(--hex-height) * 0.5);
    --hr-dx: calc(var(--hex-height) * 0.0);
    --hr-dy: calc(var(--hex-height) * 1.0);
}

.App {
    display: flex;
    flex-direction: row;
    /*
    border: 2px solid #ff00ff;
    */
}

.fixed-menu-box {
    /*
    border: 2px solid #ff00ff;
    */
    width: var(--menu-width);
    height: var(--menu-height);
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: fixed;
    right: 0;
    top: 0;
}

.menu-box {
    /*
    border: 2px solid #ff00ff;
    */
    width: var(--menu-width);
    height: auto;
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: fixed;
    right: 0;
    top: var(--menu-height);
}

.hex-info {
    border: 2px solid #00ff00;
    width: calc(var(--menu-width) / 2);
    height: auto;
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: fixed;
    right: var(--menu-width);
    bottom: 2vmin;
}

.illegal {
    background-color: palevioletred;
}

.menu-box-2 {
    flex: 1;
}

.map-eval-box {
    width: var(--map-width);
    height: var(--map-height);
    /*
    border: 2px solid #ff00ff;
    */
}

.map-box {
    width: var(--map-width);
    height: var(--map-height);
    /*
    border: 2px solid #ff00ff;
    */
    z-index: 1;
}

.eval-box {
    position: absolute;
    display: flex;
    flex-direction: row;
    /*
    border: 2px solid #ff00ff;
    */
    z-index: 2;
    bottom: 0;
    left: 0;
}

.hex-map {
    position: absolute;
    top: calc(0vmin - 6 * var(--hex-height));
    left: 0.5vmin;
    height: var(--map-height);
    width: var(--map-width);
    z-index: 1;
    /*
    border: 2px solid #ff00ff;
    */
}

.hex-Em { background-color: darkblue; border: 1px solid #ff0000; border-radius: 100%; width: var(--hex-dx);}
.hex-Bk { background-color: black; border: 1px solid #ff0000; border-radius: 100%; width: var(--hex-dx);}
.hex-Bl { background-color: dodgerblue; border: 1px solid #ff0000; border-radius: 100%; width: var(--hex-dx);}
.hex-Wh { background-color: white; border: 1px solid #ff0000; border-radius: 100%; width: var(--hex-dx);}
.hex-Ye { background-color: yellow; border: 1px solid #ff0000; border-radius: 100%; width: var(--hex-dx);}
.hex-Or { background-color: orange; border: 1px solid #ff0000; border-radius: 100%; width: var(--hex-dx);}
.hex-Re { background-color: red; border: 1px solid #ff0000; border-radius: 100%; width: var(--hex-dx);}
.hex-Br { background-color: saddlebrown; border: 1px solid #ff0000; border-radius: 100%; width: var(--hex-dx);}
.hex-Ga { background-color: forestgreen; border: 1px solid #ff0000; border-radius: 100%; }
.hex-Tr { background-color: purple; border: 1px solid #ff0000; border-radius: 100%; }
.hex-No { /*overflow: hidden; background-color: grey; border: 1px solid #ff0000; border-radius: 100%;*/ }

.hex-row-0  { top: calc(var(--hr-dy) *   0); left: calc(var(--hr-dx) *  0); position: absolute; }
.hex-row-1  { top: calc(var(--hr-dy) *   1); left: calc(var(--hr-dx) *  1); position: absolute; }
.hex-row-2  { top: calc(var(--hr-dy) *   2); left: calc(var(--hr-dx) *  2); position: absolute; }
.hex-row-3  { top: calc(var(--hr-dy) *   3); left: calc(var(--hr-dx) *  3); position: absolute; }
.hex-row-4  { top: calc(var(--hr-dy) *   4); left: calc(var(--hr-dx) *  4); position: absolute; }
.hex-row-5  { top: calc(var(--hr-dy) *   5); left: calc(var(--hr-dx) *  5); position: absolute; }
.hex-row-6  { top: calc(var(--hr-dy) *   6); left: calc(var(--hr-dx) *  6); position: absolute; }
.hex-row-7  { top: calc(var(--hr-dy) *   7); left: calc(var(--hr-dx) *  7); position: absolute; }
.hex-row-8  { top: calc(var(--hr-dy) *   8); left: calc(var(--hr-dx) *  8); position: absolute; }
.hex-row-9  { top: calc(var(--hr-dy) *   9); left: calc(var(--hr-dx) *  9); position: absolute; }
.hex-row-10 { top: calc(var(--hr-dy) *  10); left: calc(var(--hr-dx) * 10); position: absolute; }
.hex-row-11 { top: calc(var(--hr-dy) *  11); left: calc(var(--hr-dx) * 11); position: absolute; }
.hex-row-12 { top: calc(var(--hr-dy) *  12); left: calc(var(--hr-dx) * 12); position: absolute; }
.hex-row-13 { top: calc(var(--hr-dy) *  13); left: calc(var(--hr-dx) * 13); position: absolute; }
.hex-row-14 { top: calc(var(--hr-dy) *  14); left: calc(var(--hr-dx) * 14); position: absolute; }
.hex-row-15 { top: calc(var(--hr-dy) *  15); left: calc(var(--hr-dx) * 15); position: absolute; }
.hex-row-16 { top: calc(var(--hr-dy) *  16); left: calc(var(--hr-dx) * 16); position: absolute; }
.hex-row-17 { top: calc(var(--hr-dy) *  17); left: calc(var(--hr-dx) * 17); position: absolute; }

.hex-col-0  { top: calc(var(--hex-dy) *  0); left: calc(var(--hex-dx) * 0); position: absolute; width: var(--hex-dx); height: var(--hex-dx); }
.hex-col-1  { top: calc(var(--hex-dy) *  1); left: calc(var(--hex-dx) * 1); position: absolute; width: var(--hex-dx); height: var(--hex-dx); }
.hex-col-2  { top: calc(var(--hex-dy) *  2); left: calc(var(--hex-dx) * 2); position: absolute; width: var(--hex-dx); height: var(--hex-dx); }
.hex-col-3  { top: calc(var(--hex-dy) *  3); left: calc(var(--hex-dx) * 3); position: absolute; width: var(--hex-dx); height: var(--hex-dx); }
.hex-col-4  { top: calc(var(--hex-dy) *  4); left: calc(var(--hex-dx) * 4); position: absolute; width: var(--hex-dx); height: var(--hex-dx); }
.hex-col-5  { top: calc(var(--hex-dy) *  5); left: calc(var(--hex-dx) * 5); position: absolute; width: var(--hex-dx); height: var(--hex-dx); }
.hex-col-6  { top: calc(var(--hex-dy) *  6); left: calc(var(--hex-dx) * 6); position: absolute; width: var(--hex-dx); height: var(--hex-dx); }
.hex-col-7  { top: calc(var(--hex-dy) *  7); left: calc(var(--hex-dx) * 7); position: absolute; width: var(--hex-dx); height: var(--hex-dx); }
.hex-col-8  { top: calc(var(--hex-dy) *  8); left: calc(var(--hex-dx) * 8); position: absolute; width: var(--hex-dx); height: var(--hex-dx); }
.hex-col-9  { top: calc(var(--hex-dy) *  9); left: calc(var(--hex-dx) * 9); position: absolute; width: var(--hex-dx); height: var(--hex-dx); }
.hex-col-10 { top: calc(var(--hex-dy) * 10); left: calc(var(--hex-dx) * 10); position: absolute; width: var(--hex-dx); height: var(--hex-dx); }
.hex-col-11 { top: calc(var(--hex-dy) * 11); left: calc(var(--hex-dx) * 11); position: absolute; width: var(--hex-dx); height: var(--hex-dx); }
.hex-col-12 { top: calc(var(--hex-dy) * 12); left: calc(var(--hex-dx) * 12); position: absolute; width: var(--hex-dx); height: var(--hex-dx); }
.hex-col-13 { top: calc(var(--hex-dy) * 13); left: calc(var(--hex-dx) * 13); position: absolute; width: var(--hex-dx); height: var(--hex-dx); }
.hex-col-14 { top: calc(var(--hex-dy) * 14); left: calc(var(--hex-dx) * 14); position: absolute; width: var(--hex-dx); height: var(--hex-dx); }
.hex-col-15 { top: calc(var(--hex-dy) * 15); left: calc(var(--hex-dx) * 15); position: absolute; width: var(--hex-dx); height: var(--hex-dx); }
.hex-col-16 { top: calc(var(--hex-dy) * 16); left: calc(var(--hex-dx) * 16); position: absolute; width: var(--hex-dx); height: var(--hex-dx); }
.hex-col-17 { top: calc(var(--hex-dy) * 17); left: calc(var(--hex-dx) * 17); position: absolute; width: var(--hex-dx); height: var(--hex-dx); }
.hex-col-18 { top: calc(var(--hex-dy) * 18); left: calc(var(--hex-dx) * 18); position: absolute; width: var(--hex-dx); height: var(--hex-dx); }
.hex-col-19 { top: calc(var(--hex-dy) * 19); left: calc(var(--hex-dx) * 19); position: absolute; width: var(--hex-dx); height: var(--hex-dx); }
.hex-col-20 { top: calc(var(--hex-dy) * 20); left: calc(var(--hex-dx) * 20); position: absolute; width: var(--hex-dx); height: var(--hex-dx); }
.hex-col-21 { top: calc(var(--hex-dy) * 21); left: calc(var(--hex-dx) * 21); position: absolute; width: var(--hex-dx); height: var(--hex-dx); }
.hex-col-22 { top: calc(var(--hex-dy) * 22); left: calc(var(--hex-dx) * 22); position: absolute; width: var(--hex-dx); height: var(--hex-dx); }
.hex-col-23 { top: calc(var(--hex-dy) * 23); left: calc(var(--hex-dx) * 23); position: absolute; width: var(--hex-dx); height: var(--hex-dx); }

@media screen and (orientation:portrait) {
    :root {
        --main-height: 100vmax;
        --menu-width: 30vmin;
        --map-width: 100vmin;
        --menu-height: 40vmax;
        --map-height: calc(100vmax - var(--menu-height));
        --sec-height: calc(var(--map-height) * 0.30);
    }

    .App {
        flex-direction: column;
    }

    .menu-box {
        flex-direction: row;
    }

    .map-eval-box {
        flex-direction: column;
    }

    .eval-box {
        flex-direction: row;
    }
}