body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
    --main-height: 100vmin;
    --menu-width: 20vmax;
    --menu-height: 20vmin;
    --map-height: 98vmin;
    --map-width: calc(100vmax - var(--menu-width));
    --sec-height: calc(var(--map-height) * 0.35 * 0.8);
    --sec-delta-x: calc(var(--sec-height) * 0.89);
    --sec-delta-y: calc(var(--sec-height) * 0.1);
    --hex-height: 5vmin;
    --hex-dx: calc(var(--hex-height) * 1.0);
    --hex-dy: calc(var(--hex-height) * 0.55);
    --hr-dx: calc(var(--hex-height) * 0.0);
    --hr-dy: calc(var(--hex-height) * 1.1);
}

.App {
    display: flex;
    flex-direction: row;
    /*
    border: 2px solid #ff00ff;
    */
}

.fixed-menu-box {
    /*
    border: 2px solid #ff00ff;
    */
    width: var(--menu-width);
    height: var(--menu-height);
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: fixed;
    right: 0;
    top: 0;
}

.menu-box {
    /*
    border: 2px solid #ff00ff;
    */
    width: var(--menu-width);
    height: auto;
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: fixed;
    right: 0;
    top: var(--menu-height);
}

.hex-info {
    border: 2px solid darkblue;
    width: calc(var(--menu-width) / 2);
    height: auto;
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: fixed;
    right: var(--menu-width);
    bottom: 2vmin;
}

.menu-box-2 {
    flex: 1;
}

.map-eval-box {
    width: var(--map-width);
    height: var(--map-height);
    /*
    border: 2px solid #ff00ff;
    */
}

.map-box {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--map-width);
    height: var(--map-height);
    /*
    border: 2px solid #00ffff;
    */
    z-index: 1;
}

.eval-box {
    position: absolute;
    display: flex;
    flex-direction: row;
    /*
    border: 2px solid #ff00ff;
    */
    z-index: 2;
    bottom: 0;
    left: 0;
}


@media screen and (orientation:portrait) {
    :root {
        --main-height: 100vmax;
        --menu-width: 30vmin;
        --map-width: 100vmin;
        --menu-height: 40vmax;
        --map-height: calc(100vmax - var(--menu-height));
        --sec-height: calc(var(--map-height) * 0.30);
    }

    .App {
        flex-direction: column;
    }

    .menu-box {
        flex-direction: row;
    }

    .map-eval-box {
        flex-direction: column;
    }

    .eval-box {
        flex-direction: row;
    }
}