.rot0 { transform: rotate(0deg); }
.rot1 { transform: rotate(60deg); }
.rot2 { transform: rotate(120deg); }
.rot3 { transform: rotate(180deg); }
.rot4 { transform: rotate(240deg); }
.rot5 { transform: rotate(300deg); }

.map-img {
    width: auto;
    height: 100%;
}

.map-sec {
    position: absolute;
    height: 100%;
    width: auto;
}

.map-sec-selected {
    position: absolute;
    filter: brightness(300%);
    height: 100%;
    width: auto;
    /*
  height: calc(var(--sec-height) * 0.96);
  width: auto;
      */
}

.map-row {
    position: absolute;
    width: 80vmin;
    /*border: 2px solid #ff3344;*/
    height: var(--sec-height);
}

.map-row-0 {
    top: 0.5vmin;
    left: 0.5vmin;
}

.map-row-1 {
    top: calc(var(--sec-height) * 0.83);
    left: calc(var(--sec-height) * 0.37);
}

.map-row-2 {
    top: calc(var(--sec-height) * 0.82 + var(--sec-height) * 0.82);
    left: calc(var(--sec-height) * 0.36 * 2);
}

.map-sec-border {
    border: 1vmin solid #ff0000;
    border-radius: 100%;
    overflow: visible;
}

.map-col-0 {
    top: 0vmin;
    left: 0vmin;
}

.map-col-1 {
    top: var(--sec-delta-y);
    left: var(--sec-delta-x);
}

.map-col-2 {
    top: calc(var(--sec-delta-y) * 2);
    left: calc(var(--sec-delta-x) * 2);
}

.map-col-3 {
    top: calc(var(--sec-delta-y) * 3);
    left: calc(var(--sec-delta-x) * 3);
}

